/**
 * Default styling of elements
 * Useful when prototyping. Probably the first file to delete otherwise.
 */

body {
  line-height: 1.3em;
}

/* grid */

.row .col {
  background-color: #ddd;
  padding: 10px 0 10px 10px;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $fontSize-regular;
  font-family: $fontFamily-heading;
  font-weight: bold;
}

h1 {
  font-size: $fontSize-h1;
}

h2 {
  font-size: $fontSize-h2;
}

h3 {
  font-size: $fontSize-h3;
}

/* formatting */

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

a {
  color: $color-anchor;

  &:hover {
    color: $color-anchor-hover;
  }

  &:visited {
    color: $color-anchor-visited;
  }

  &:active {
    color: $color-anchor-active;
  }
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

hr {
  border: none;
  border-top: 1px solid #bbb;
  margin: 20px 0;
}

li {
  margin: 10px 0;
}

/* form elements */

.formrow {
  margin: 10px 0;
}

button,
.button,
input[type='button'],
input[type='submit'] {
  font-size: $fontSize-regular;
  padding: 6px 18px;
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='number'],
input[type='tel'] {
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: $fontSize-regular;
  padding: 5px 8px;
  width: 300px;
}

input[type='file'] {
  font-size: $fontSize-regular;
}

select,
textarea {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: $fontSize-regular;
  padding: 5px 8px;
  min-width: 200px;
}

textarea {
  width: 450px;
}

/* spacing */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 15px 0;

  &:first-child {
    margin-top: 0;
  }
}
